.box-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.MuiOutlinedInput-root{
    border-radius: 15px !important;
}
.formline1{
    margin-top: 15px !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max-content !important;
}
.textfield-patient_name{
    margin-left: 15px !important;
    width: 323px;
}
.form-data{
    display: flex !important;
    flex-direction: row !important;
    margin-top: 25px !important;
    justify-content: space-around !important;
}

.formline2{
    margin-top: 15px !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}
.agefield{
    width: 50px !important;
}
.dateofbirth{
    min-width: 200px !important;
    margin-left: 15px;
    
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    width: 180px;
}
.gender{
    min-width: 98px;
}
.formline3{
    margin-top: 15px;
}
.textfield-email{
    min-width: 323px !important ;
}
.formline4{
    margin-top: 15px;
}
.textfield-number{
    min-width: 323px !important ;
}
.formline5{
    width: inherit !important;
    margin-top: 15px;
}
.submitbutton{
    margin-top: 120px !important;
    float: right;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    width: 23px !important;
}