.nav_header{
    margin: 0;
}
.MuiPaper-root{
    background-color: #F2F5F8 !important;
    color: black !important;
    box-shadow: none !important;
}
.css-1juivf6-MuiTypography-root{
    text-align: right !important;
}
